.mesas__organizacion__mesa-card {
  display: grid;

  &:hover {
    .square-icon {
      border-color: rgb(22 163 74);
      color: rgba(2, 131, 23, 0.144);
    }

    .utensils-icon {
      color: rgb(2, 141, 53);
    }

    p {
      color: rgb(9, 84, 36);
    }
  }

  &-selected {
    display: grid;

    .square-icon {
      border-color: rgb(22 163 74);
      color: rgba(2, 131, 23, 0.144);
    }

    .utensils-icon {
      color: rgb(2, 141, 53);
    }

    p {
      color: rgb(9, 84, 36);
    }
  }

  &-dark {
    display: grid;

    &:hover {
      .square-icon {
        border-color: #484848;
        color: #373737;
      }
    }

    &-selected {
      display: grid;

      .square-icon {
        border-color: #484848;
        color: #373737;
      }
    }
  }
}
