.lista-mesas-filtros {
  display: grid;
  grid-template-rows: auto;

  &__box {
    display: grid;
    grid-template-columns: 1fr auto;

    &-caja {
      display: grid;

      &-filtros__selects {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
      }

      &-filtros__search {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}
